@use '@/styles' as s;

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;


  //@include s.margin(top, 5rem);
  // @include s.padding(bottom, 8rem);


  & :local {

    .swiper {
      position: relative;
      width: 100%;
      //max-width: 1500px;
      overflow: visible;
      //display: grid;
      //place-items: center;
      padding: 2rem 7rem;
      display: grid;
      grid-template-columns: max-content max-content;

      //border: 1px solid red;


      .swiper_item {
        border: 1px solid yellow;
        margin: 2rem;
        //box-sizing: border-box;

        &:first-child {
          //max-width: 70%;
          margin-right: -30rem;
        }


        //max-width: 500px;
      }
    }

    .wrapper {
      //border: 2px solid green;
      //padding: 2rem;
      width: 100%;
      //max-width: 90%;
      margin: 0 auto;

      display: grid;
      grid-template-columns: max-content max-content;
      align-items: start;
      gap: 2rem;
    }

    .search {
      display: flex;
      max-width: 600px;
      min-width: 58vw;
      padding: 0 0 0 9rem;


      //border: 1px solid red;

      .search_wrapper {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        gap: 1rem;
        //border: 1px solid #000;

        .title {
          //margin-bottom: -1.5rem;
          //line-height: 100%;

          color: s.$clrs-cat-light-blue;

          span {
            font-weight: 900;
          }
        }

        .search_field {
          border-radius: 5000px;
          overflow: hidden;
          background: s.$clrs-grey-90;

          @include s.media-breakpoint-up(sm) {
            max-width: 70%;
          }

          & > :first-child {
            &::before {
              display: none;
            }
          }

          input {
            padding: 1.3rem 1.3rem 1.3rem .2rem;
          }
        }

        .desc {
          color: s.$clrs-grey-70;
          letter-spacing: -.04vmax;
          //font-size: 2.5rem;
          font-family: s.$fonts-sofia-pro !important;
          font-weight: 600 !important;
          margin-top: 1rem;

          span {
            color: white;
            font-weight: 900;
          }
        }

        .social {
          display: flex;
          justify-content: space-between;
          max-width: 70%;
          gap: 1rem;
          margin-top: 2rem;

          //border: 1px solid red;

          .social_item {
            display: flex;
            flex: 1;
            flex-flow: column;
            align-items: center;
            padding: 1rem;
            border-radius: s.px-to-rem(32px);
            gap: 2rem;
            background: rgba(230, 230, 230, 0.1);
            max-width: 9.1rem;
            width: 100%;

            //border: 1px solid #000;

            .social_logo {
              max-width: 6rem;
            }

            & > :last-child {
              color: s.$clrs-cat-light-blue;
              background-color: rgba(s.$clrs-cat-light-blue, .1);
            }
          }
        }
      }


    }

    .events {
      position: relative;
      display: flex;
      align-items: flex-start;
      margin: 0 auto;
      gap: 3rem;
      width: 100%;

      border: 1px solid brown;
      max-width: 90%;

      .btn{
        position: absolute;
        left: -5rem;
        top: 50%;
      }

      .today {
        height: 100%;
        //border: 1px solid red;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        gap: 2rem;


        .detail {
          display: flex;
          gap: 2rem;

          //border: 1px solid #000;

          & > * {
            flex: 1;
            padding: 1.7rem;
          }

          .date {
            //padding: 2rem;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 1.5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;

            & > div {
              background: rgba(255, 255, 255, 0.1);
              padding: 1rem;
              border-radius: 1rem;
              flex: 1;
              display: flex;
              flex-flow: column;

              p {
                display: block;
                margin: 0;
                color: s.$clrs-grey-80;
                line-height: 1;
              }

              h3 {
                line-height: 100%;
                letter-spacing: 0;
                font-weight: 600 !important;
                margin: auto 0 0;
              }
            }
          }

          .title_detail {
            background: rgba(255, 255, 255, 0.1);
            //padding: 2rem;
            border-radius: 1.5rem;

            .title {
              line-height: 116%;
              font-weight: 600;
              font-size: 1.5rem;
              margin: 0;
            }

            .tags {
              display: flex;
              gap: .5rem;
              margin-top: .5rem;

              & > * {
                font-size: .7rem;
                background: rgba(s.$clrs-cat-light-blue, .1);
              }
            }
          }

        }
      }


      .upcoming {
        //flex: 1;

        border: 1px solid red;

        h4 {
          font-weight: bold
        }

        .upcoming_list {
          display: flex;
          flex-flow: column;
          gap: 2rem;
          margin-top: 1rem;
        }
      }
    }


  }
}
